<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>724406704992-ihcq8gpc1rnn9279gs5srp4d7n6ck2v8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.724406704992-ihcq8gpc1rnn9279gs5srp4d7n6ck2v8</string>
	<key>API_KEY</key>
	<string>AIzaSyAvId8yVJk3euk-3swNHCi1BDDJM-rPTrY</string>
	<key>GCM_SENDER_ID</key>
	<string>724406704992</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.jayme.rutkoski.TruckYums</string>
	<key>PROJECT_ID</key>
	<string>foodtruck-locator</string>
	<key>STORAGE_BUCKET</key>
	<string>foodtruck-locator.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:724406704992:ios:b4b813ac1c5a0f261cdc05</string>
	<key>DATABASE_URL</key>
	<string>https://foodtruck-locator.firebaseio.com</string>
	<key>ADMOB_APP_ID</key>
	<string>ca-app-pub-7088839014127907~9522584888</string>
</dict>
</plist>